<div class="form-wrapper">

	<h1>New entry</h1>

	<%= form_for([current_user, current_user.entries.build]) do |f|%>
		<fieldset>
			<%= f.label "Title" %>
			<%= f.text_field :title %>
		</fieldset>

		<fieldset>
			<%= f.label "Caption" %>
			<%= f.text_area :caption, size: "20x2" %>
		</fieldset>

		<fieldset>
			<%= f.label "Author" %>
			<%= f.text_field :author %>
		</fieldset>
		
		<fieldset>
			<%= f.label "Photo url" %>
			<%= f.text_field :photo_url %>  
		</fieldset>
		
		<fieldset>
			<%= f.label "Date taken" %>
			<%= f.text_field :date_taken, value: Time.now %>
		</fieldset>

		<%= f.submit %>
	<% end %> 
</div>