<h1><%=entry.title.nil? ? "Entry #{entry.id}" : entry.title %></h1>

<% if owned_by_current_user? || current_user.role.name == 'admin' %>
	<%= link_to "Edit", edit_user_entry_path(current_user, entry) %>
	<%= link_to "Delete", user_entry_path, method: :delete %>
<% end %>

<p><%= image_tag entry.photo_url %></p>
<p><%= entry.caption %></p>
<p>By <%= entry.author %></p>
<p>Taken <%= entry.date_taken %></p>

<h2>Comments: </h2>

<% if user_signed_in? %>
	<%= form_for([current_user, entry.comments.build]) do |f| %>
		<%= f.hidden_field :entry_id, value: entry.id %>
		<fieldset>
			<%= f.text_area :body, size: "40x4" %>
		</fieldset>

		<fieldset>
		<%= f.submit "submit" %>
		</fieldset>
	<% end %> 
<% end %>

<ul>
	<% entry.comments.each do |comment| %>
		<li class="comment"><%= "#{comment.body} - #{comment.user.email}" %></li>
	<% end %>
</ul>