<!DOCTYPE html>
<html>
<head>
  <title>superbowlgifs.com</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-20497477-13', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>

	<%= render 'layouts/header' %>

	<main>
		<%= yield %>
	</main>

	<footer>
		<p><sup>1 </sup>This site is not affiliated with the National Football League (NFL) or any of its teams. Team names, logos, and uniform designs are registered trademarks of the teams displayed.</p>
	</footer>

</body>
</html>
