<!DOCTYPE html>
<html>
<head>
  <title>superbowlgifs.com<sup>1</sup></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

	<main>
		<%= yield %>
	</main>

	<footer>
		<p><sup>1 </sup>This site is not affiliated with the National Football League (NFL) or any of its teams. Team names, logos, and uniform designs are registered trademarks of the teams displayed.</p>
	</footer>

</body>
</html>
